@import url('https://fonts.googleapis.com/css?family=Roboto');


h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.btn-danger {
  margin-top: 22px;
}

.panel-default {
  margin-top: 20px;
}


.btn-success {
  font-size:15px;
  margin-left: 40%;
  margin-right: 40%;
}

.control-label {

}
