<p>Olá,  <%= @resource.email %>!</p>

<p>Alguém fez um pedido para mudar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez esse pedido, por favor ignore esse email.</p>
<p> Sua senha não vai mudar até que você acesse esse link acima e crie uma nova.</p>
