<footer class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <p>Todos os direitos reservados | Criado por Jefferson Oliveira</p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div>
</footer>
